<form (ngSubmit)="submit()" [formGroup]="formLink" #formDir="ngForm">
  <div class="form-group">
    <label for="name"></label>
    <input
      class="form-input"
      type="text"
      placeholder="Qual o nome do colaborador?"
      formControlName="name"
      required
    />
    <div
      *ngIf="formLink.get('name')?.errors?.['required'] &&
      formLink.get('name')?.touched"
      class="validation"
    >
      <p>Nome é obrigatório.</p>
    </div>
  </div>
  <input type="submit" value="Cadastrar" />
</form>
